<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="seu.com.androidlearn">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app_name"
        tools:replace="android:label, android:name"
        android:supportsRtl="true">
        <receiver android:name=".test.broadcast.MyBroadcast">
            <intent-filter>
                <action android:name="com.seu.cc.test"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="wxy"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <!--完全无效-->
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        <activity
            android:name=".test.statusbar.StatusBarTestActivity"
            android:theme="@style/StatusBarTran"/>
        <activity android:name=".test.touch.TouchTestActivity"/>
        <activity android:name=".test.customview.MultiPicActivity"/>
        <activity android:name=".test.dialog.AlertDialogActivity"/>
        <activity android:name=".test.battery.BatteryActivity"/>
        <activity android:name=".test.swipe.RecyclerActivity"/>
        <activity android:name=".test.recycle.RecyclerViewActivity"/>
        <activity android:name=".test.leak.LeakActivity"/>
        <activity android:name=".test.js.WebviewActivity"/>
        <activity android:name=".test.file.FileActivity"/>
        <activity android:name=".test.okhttpcache.OkHttpCacheActivity"/>
        <activity android:name=".test.TestActivity">
        </activity>
        <activity android:name=".test.dynamicviewpager.ViewPagerActivity"/>
        <activity android:name=".test.broadcast.BroadcastActivity"/>
        <activity android:name=".test.ioc.runtime.RuntimeActivity"/>
        <activity android:name=".test.hook.HookActivity"/>
        <activity android:name=".test.typeface.TypefaceAfterActivity"/>
        <activity android:name=".test.typeface.TypefaceBeforeActivity"/>
        <activity android:name=".test.classload.ClassLoadActivity"/>
    </application>

</manifest>